@model WebMVCHttpPostFile.Models.FileUploadModel

@{
    ViewBag.Title = "Index page";
}

<h2>Index page</h2>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
